{% extends "layout_rsvp.html" %}
{% load i18n %}

{% block content %}
    {% if invite %}
        <p>{% trans "Your code has been accepted! As stated on the invitation, please complete your RSVP by August 15th 2016." %}</p>

        <p>{% trans "We are eagerly awaiting our big day, and we sincerely hope that you will be able to share this special occasion with us." %}</p>
        <p>
            {% trans "Below is a list of the guests on your invitation; please untick those who are unable to attend." %}</p>
        <form action="{% url 'weddingapp:attend' invite.code %}" method="post">
            {% csrf_token %}
            {% for guest in invite.guest_set.all %}
                <div>
                    <input type="checkbox" name="attend" id="choice{{ forloop.counter }}"
                           value="{{ guest.guest_name }}"
                           {% if guest.attending %}checked="checked"{% endif %}/>
                    <label for="choice{{ forloop.counter }}">{{ guest.guest_name }}</label>
                </div>
            {% endfor %}

            <div class="row flex-justify-end m-t-2">
                <div class="col-sm-4 col-xs-12">
                    <button type="submit" class="btn btn-wedding-coral btn-lg btn-block">{% trans "Continue" %}</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}