{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if invite %}
        {#        <p>Hello <strong>{{ invite.code }}</strong>!</p>#}
        <p>{% trans "We're really looking forward to our wedding and we hope that you will be able to attend our wedding and share this occasion with us" %}
            &#x263A;</p>
        <p>{% trans "Here is a list of the guests on your invitation; please tick the boxes of the guests who will be able to attend." %}</p>
        <form action="{% url 'weddingapp:attend' invite.code %}" method="post">
            {% csrf_token %}
            {% for guest in invite.guest_set.all %}
                <div>
                    <input type="checkbox" name="attend" id="choice{{ forloop.counter }}"
                           value="{{ guest.guest_name }}"
                           {% if guest.attending or invite.rsvp_completed == False %}checked="checked"{% endif %}/>
                    <label for="choice{{ forloop.counter }}">{{ guest.guest_name }}</label>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-wedding-coral btn-lg">{% trans "Continue" %}</button>
        </form>
    {% endif %}
{% endblock %}