{% extends "layout_rsvp.html" %}
{% load i18n %}

{% block content %}
    {% if invite %}
        <p>{% trans "Before completing your RSVP, please ensure the information you have provided is correct. Below is an overview of the details entered." %}</p>

        <div class="row m-b-2 m-t-2">
            {% for guest in invite.guest_set.all %}
                <div class="col-sm-6">
                    <h5>{{ guest.guest_name }}</h5>

                    <dl class="dl-horizontal">
                        <dt class="col-sm-3 m-l-1">{% trans "Attending" %}:</dt>
                        <dd class="col-sm-9 m-l-1">{{ guest.attending|yesno:_("Yes,No") }}</dd>

                        {% if guest.attending == 1 %}
                            <dt class="col-sm-3 m-l-1">{% trans "Dietary Requirements" %}:</dt>
                            <dd class="col-sm-9 m-l-1">{{ guest.diet }}</dd>

                            <dt class="col-sm-3 m-l-1">{% trans "Interest In Transport" %}:</dt>
                            <dd class="col-sm-9 m-l-1">{{ guest.transport|yesno:_("Yes,No") }}</dd>
                        {% endif %}
                    </dl>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-sm-5 m-b-3">
                <p>{% trans "If any of the above details are incorrect, you can go back and amend them." %}</p>

                <div class="row m-t-2">
                    <div class="col-sm-4 col-xs-12">
                        <a href="{% url 'weddingapp:attend' invite.code %}"
                           class="btn btn-wedding-blue btn-lg">{% trans "Go Back" %}</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-2 text-md-right m-b-3">
                <p>{% trans "If all of the above details are correct, click below to complete your RSVP." %}</p>

                <div class="row flex-justify-end m-t-2">
                    <div class="col-sm-4 col-xs-12">
                        <a href="{% url 'weddingapp:finish' invite.code %}"
                           class="btn btn-wedding-coral btn-lg btn-block">{% trans "Complete RSVP" %}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}