{% extends "layout_rsvp.html" %}
{% load i18n %}

{% block content %}
    {% if invite %}
        <p>{% trans "We would like to ask you to provide a few details so that we can meet any additional needs you may have." %}</p>

        <p>{% trans "As we are aware that a portion of our guests do not live locally, we will potentially provide transport between the church and the reception venue, depending on the amount of guests who require this." %}</p>

        {{ form_errors }}

        <form method="post" action="">
            {% csrf_token %}
            {{ GuestForm.management_form }}
            {% for form in GuestForm %}

                <div class="m-b-2">
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}meow

                    <fieldset class="form-group">
                        {{ form.diet.errors }}
                        <label for="{{ form.diet.id_for_label }}">
                            {% blocktrans with guest=form.instance.guest_name %}Please enter any dietary
                                requirements for {{ guest }}{% endblocktrans %}:
                        </label>
                        {{ form.diet }}
                    </fieldset>

                    <fieldset class="checkbox">
                        {{ form.transport.errors }}
                        <label for="{{ form.transport.id_for_label }}">
                            {{ form.transport }} {% blocktrans with guest=form.instance.guest_name %}Would
                            {{ guest }} be interested in transport from the church to the
                            reception?{% endblocktrans %}
                        </label>
                    </fieldset>

                    <hr/>
                </div>
            {% endfor %}

            <div class="row flex-justify-end m-t-2">
                <div class="col-sm-4 col-xs-12">
                    <button type="submit" class="btn btn-wedding-coral btn-lg btn-block">{% trans "Continue" %}</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}