{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static "dist/css/site_styles.css" %}">
{% endblock %}

{% block layout %}

    <div class="container m-b-3">
        <div class="row">
            <div class="col-md-offset-1 col-lg-offset-2 col-lg-8 col-md-10 col-sm-12 col-xs-12">
{#                <p class="lead">Below is our full gift list. To be able to have a variety of gifts whilst not being limited to a certain shop, we have decided to list everything here. To avoid duplicates, we have asked ____ and _____ to help us co-ordinate which gifts to buy. Therefore, before purchasing a gift for us, please contact [insert details]</p>#}
                <p class="lead">We're still gradually adding gifts. Hold tight!</p>
                <table class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Actual Item?</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gift in giftlist %}
                            <tr {% if gift.quantity < 1 %}class="text-muted" style="text-decoration: line-through;"{% endif %}>
                                <td>{{ gift.item }}</td>
                                <td>{{ gift.get_category_display }}</td>
                                <td>{{ gift.quantity }}</td>
                                <td>{{ gift.get_actual_display }}</td>
                                <td>
                                    {% if gift.url and gift.quantity > 0 %}
                                        <a href="{{ gift.url }}" target="_blank" rel="nofollow">Link</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
