{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block nav-home %}active{% endblock %}
{% block header-class %}m-b-0{% endblock %}

{% block layout %}

    <section class="section-about-wedding">
    <div class="container">
        <div class="section-title text-xs-center">
            <h2>{% trans "The Wedding" %}</h2>
        </div>
        <div class="row text-xs-center m-t-3">
            <div class="col-lg-offset-2 col-lg-4 col-md-6 m-b-2">
                <div class="m-b-1">
                    <img src="{% static "dist/img/wedding-rings.svg" %}" alt="" width="80">
                </div>
                <h5>{% trans "The ceremony will take place from 2:30pm at St. George's Church, Beckenham, Kent." %}</h5>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="m-b-1">
                    <img src="{% static "dist/img/toast.svg" %}" alt="" width="80">
                </div>
                <h5>{% trans "The reception and dinner will take place at The Old Rectory, Brentwood, Essex." %}</h5>
            </div>
        </div>
    </div>
</section>

<section class="section-links">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-4 col-md-6 col-sm-6 col-xs-12 text-xs-center m-b-2">
                <h2 class="m-b-1">{% trans "Got Questions?" %}</h2>
                <a href="/faq" class="btn btn-lg btn-wedding-coral">{% trans "Go to FAQs" %}</a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 text-xs-center">
                <h2 class="m-b-1">{% trans "Need to RSVP?" %}</h2>
                <a href="/rsvp" class="btn btn-lg btn-wedding-coral">{% trans "Go to RSVP site" %}</a>
            </div>
        </div>
    </div>
</section>

<section class="section-contact">
    <div class="container">
        <div class="section-title text-xs-center">
            <h2>{% trans "Get in touch" %}</h2>
        </div>
        <div class="row text-xs-center m-t-3">
            <a href="http://www.google.com/recaptcha/mailhide/d?k=01_r--5p3jq1yieuawqbWXdw==&amp;c=hzlMjzYWn28NHdWFV6ZN_tmtVn9LeWQWw-ffPK4cgQ0="
               onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01_r--5p3jq1yieuawqbWXdw\x3d\x3d\x26c\x3dhzlMjzYWn28NHdWFV6ZN_tmtVn9LeWQWw-ffPK4cgQ0\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;"
               title="Reveal this e-mail address" class="col-lg-offset-2 col-lg-4 col-md-6 col-sm-6 col-xs-12 m-b-2">
                <div class="m-b-1">
                    <img src="{% static "dist/img/e-mail-envelope.svg" %}" alt="" width="80">
                </div>
                <h5>Email</h5>
            </a>

            <a href="https://www.facebook.com/WinterJoey" target="_blank" class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="m-b-1">
                    <img src="{% static "dist/img/thumb-up.svg" %}" alt="" width="80">
                </div>
                <h5>Facebook</h5>
            </a>
        </div>
    </div>
</section>

<section class="section-final-photo"></section>

<footer class="fs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="m-b-0 text-xs-center">
                    <small>
                        {% blocktrans %}Our beautiful photos are by
                            <a href="http://www.bennicarolweddingphotography.com/">Benni Carol Photography</a>
                            .{% endblocktrans %}
                    </small>
                </p>
                <p class="m-b-0 text-xs-center">
                    <small>
                        {% blocktrans %}Website design and development by
                            <a href="http://www.josephshambrook.com">Joseph Shambrook</a> (the
                            groom!).{% endblocktrans %}
                    </small>
                </p>
                <p class="m-b-0 text-xs-center">
                    <small>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a
                            href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
                            href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                            target="_blank">CC 3.0 BY</a>.
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}