{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static "dist/css/site_styles.css" %}">
{% endblock %}

{% block layout %}

    <div class="container m-b-3">
        <div class="row">

            {% for hotel in hotels_list %}
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="card">
                        <img class="card-img-top" src="{{ hotel.static_map_link }}" alt="Map to {{ hotel.name }}">
                        <div class="card-block">
                            <h4 class="card-title">{{ hotel.name }}</h4>
                            <div class="card-text">
                                <p>{{ hotel.address }}</p>
                                <p>{{ hotel.phone_number }}</p>
                            </div>
                            <a href="{{ hotel.google_link }}" class="btn btn-wedding-coral">Google Maps</a>
                            <a href="{{ hotel.website_link }}" class="btn btn-wedding-coral">Website</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
