{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static "dist/css/site_styles.css" %}">
{% endblock %}

{% block layout %}

    <div class="container m-b-3">
        <div class="row">

            {% for hotel in hotels_list %}
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        {% if hotel.static_map_link %}
                            <img class="card-img-top img-fluid" src="{{ hotel.static_map_link }}" alt="Map to
{{ hotel.name }}">
                        {% endif %}
                        <div class="card-block">
                            <h4 class="card-title">{{ hotel.name }}</h4>
                            <div class="card-text">
                                {% if hotel.address %}
                                    <p>{{ hotel.address }}</p>
                                {% endif %}

                                {% if hotel.phone_number %}
                                    <p>{{ hotel.phone_number }}</p>
                                {% endif %}
                            </div>
                            {% if hotel.google_link %}
                                <a href="{{ hotel.google_link }}" class="btn btn-wedding-coral">Google Maps</a>
                            {% endif %}
                            {% if hotel.website_link %}
                                <a href="{{ hotel.website_link }}" class="btn btn-wedding-coral">Website</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
