{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if invite %}
        <p>{% blocktrans %}Hello {{ invite.group_name }}! Welcome to our RSVP website. As stated on the invitation, please complete your RSVP by August 15th 2016.{% endblocktrans %}</p>

        <div class="row flex-justify-end">
            <div class="col-sm-4 col-xs-12">
                <a href="{% url 'weddingapp:attend' invite.code %}"
                   class="btn btn-wedding-coral btn-lg btn-block">{% trans "Continue" %}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}