{% extends "layout_faq.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <h5><strong>Wedding date and time</strong></h5>
    <p>{% trans "The date of the wedding is June 3rd 2017. The ceremony is due to start at 2:30pm." %}</p>

    <h5><strong>RSVP date</strong></h5>
    <p>{% trans "As stated on the invitation, please complete your RSVP by August 15th 2016." %}</p>

    <h5><strong>Lost RSVP code</strong></h5>
    <p>{% trans "If you have lost your RSVP code, please send us an email and we will be happy to resend it to you." %}</p>

    <h5><strong>Amend RSVP</strong></h5>
    <p>{% trans "If you have sent your RSVP and later realise that you made a mistake, or would like to amend the details you submitted, please contact us as soon as possible." %}</p>

    <h5><strong>Gifts</strong></h5>
    <p>{% trans "You can locate our gift registry here:" %} { Need link }</p>

    <h5><strong>Dress code</strong></h5>
    <p>{% trans "The dress code is formal casual." %}</p>

    <h5><strong>Church details</strong></h5>
    <p>{% trans "The ceremony will take place at St. George's Church, Beckenham, Kent." %} { insert map link }</p>

    <h5><strong>Church parking</strong></h5>
    <p>{ Need to find out }</p>

    <h5><strong>Unplugged church</strong></h5>
    <p>{% trans "While we appreciate that our guests are as keen to remember the day as we are, we have hired photographers to cover the day, and we will naturally be more than happy to share our pictures after the wedding! Therefore we kindly ask our guests to put their phones away during the ceremony, as we would prefer them to enjoy the occasion. However, once we have left the church doors, feel free to snap away!" %}</p>

    <h5><strong>Confetti / rice</strong></h5>
    <p>{ Link to FAQ about rice in Cultural }</p>

    <h5><strong>Formal pictures</strong></h5>
    <p>{ Link to FAQ about pictures in Cultural }</p>

    <h5><strong>Reception details</strong></h5>
    <p>{% trans "The reception will take place at The Old Rectory, Brentwood, Essex." %} { insert map link }</p>

    <h5><strong>Transport to reception</strong></h5>
    <p>{% trans "Depending on the amount of people who express interest, we will provide transport from the church to the reception. Once we have received all of our RSVPs, we will make a decision and contact everyone who expressed an interest." %}</p>

    <h5><strong>No Songs</strong></h5>
    <p>
        <a href="{% url 'faq:faq_cultural' %}#no-songs">{% trans "Click here to view this answer." %}</a>
    </p>

    <h5><strong>Speeches</strong></h5>
    <p>{% trans "If you would like to toast us with a speech, please let us know by email so that this can be arranged with our toastmaster on the day." %}</p>

    <h5><strong>Taxis</strong></h5>
    <p>{% trans "There is a range of local taxi services for transport from the reception. We'll compile a list closer to the wedding." %}</p>

    <h5><strong>Hotel</strong></h5>
    <p>{% trans "There are multiple options for accommodation nearby. We'll compile a list closer to the wedding." %}</p>

    <h5><strong>Contact details</strong></h5>
    <p>{% trans "You can contact us either by email or" %} <a href="https://www.facebook.com/WinterJoey">Facebook</a></p>

{% endblock %}

{# Format #}
<!-- <h5><strong>Title</strong></h5>
<p>Text.</p> -->