{% extends "layout_faq.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <h2 class="m-b-2">Practical</h2>

    {# Format #}
    {# <h5><strong>Title</strong></h5> #}
    {# <p class="m-b-2">Text.</p> #}

    <h5><strong>Date of Wedding</strong></h5>
    <p class="m-b-2">The date of the wedding is June 3rd 2017.</p>

    <h5><strong>RSVP Date</strong></h5>
    <p class="m-b-2">As stated in the invitation, please ensure that your RSVP is sent by August 15th 2016.</p>

    <h5><strong>Lost RSVP code</strong></h5>
    <p class="m-b-2">If you have lost your RSVP code (don't worry, it happens!), please do send us an email and we will be happy to resend it to you.</p>

    <h5><strong>Amend RSVP</strong></h5>
    <p class="m-b-2">If you have already sent your RSVP and realise that you made a mistake, or would like to amend the information you submitted to us, please do contact us as soon as possible.</p>

    <h5><strong>Registries</strong></h5>
    <p class="m-b-2">You can locate our gift registries here: </p>

    <h5><strong>Dresscode</strong></h5>
    <p class="m-b-2">Dresscode: Formal casual</p>

    <h5><strong>Church details</strong></h5>
    <p class="m-b-2">The ceremony will take place at St. George's Church, Beckenham, Kent.</p>

    <h5><strong>Church parking</strong></h5>
    <p class="m-b-2">TBD</p>

    <h5><strong>Unplugged church</strong></h5>
    <p class="m-b-2">While we appreciate that our guests are as keen to remember the day as we are, we have professional photographers to take pictures, and we will naturally be more than happy to share these after the wedding! Therefore we kindly ask you to keep your phones in your pockets during the ceremony, as we would prefer you to enjoy it the moment, rather than watch it through a screen. However, once we have left the church doors, feel free to snap away!</p>

    <h5><strong>Confetti / rice (dbld)</strong></h5>
    <p class="m-b-2">Upon leaving the church, it is Danish tradition to throw rice at the newly-weds (which we
{% endblock %}