@import "../parts/base";

.flex { display:flex; }
.flex-middle { align-items: center; }

header {
  align-items:center;
  //background: linear-gradient($ivory-rgba, $ivory-rgba), url(../img/header-notting-hill-min.jpg) no-repeat -400px -60px fixed;
  //background-size:cover;
  background: linear-gradient($ivory-rgba, $ivory-rgba), url(../img/header-notting-hill-min.jpg) no-repeat -410px -110px fixed;
  background-size: cover;
  display:flex;
  height:450px;

  .header-title { font-size:4rem; }
  .header-subtitle { font-size:3rem; }
}

@media(min-width: 544px) {
  header {
    background-position: center -100px;
    min-height:450px;
  }
}

header, section {
  padding: 90px 0;
}

.section-title {
  margin-bottom:20px;
  > * {
    font-size: 2.5rem;
  }
}

.section-about-wedding {
  min-height:480px;
}

.section-about-couple {
  background: $blue;
  position:relative;

  .map-bkgd {
    background: url(../img/uk-map.svg) no-repeat 5% 10px, url(../img/da-map.svg) no-repeat 95% 50px;
    background-size: 100px;
    height:100%;
    left:0;
    opacity: 0.4;
    position:absolute;
    top:0;
    width:100%;
  }
}

.section-links {
  background:$blue;
  min-height:330px;
}

.section-contact {
  min-height:350px;
}

.section-final-photo {
  background: linear-gradient($ivory-rgba, $ivory-rgba), url(../img/footer-tree.png) no-repeat center bottom;
  background-size:cover;
}

.tile-map {
  align-items:center;
  background-size: cover;
  background-position: center center;
  display:flex;
  height:120px;
  justify-content: center;
}

.tile-map-church {
  background-image:linear-gradient($coral-rgba, $coral-rgba), url(http://maps.googleapis.com/maps/api/staticmap?center=&zoom=14&scale=2&size=400x160&format=png&style=saturation:-100|feature:all|element:labels|visibility:off&markers=size:small%7Ccolor:0x63cbfc%7Clabel:%7Cst+georges+church,+beckenham&key=AIzaSyBg35fbhMM1PUchxu3-U0otlG0BL-Tgryc);
}

.tile-map-venue {
  background-image:linear-gradient($coral-rgba, $coral-rgba), url(http://maps.googleapis.com/maps/api/staticmap?center=&zoom=14&scale=2&size=400x160&format=png&style=saturation:-100|feature:all|element:labels|visibility:off&markers=size:small%7Ccolor:0x63cbfc%7Clabel:%7Cthe+old+rectory,+brentwood&key=AIzaSyBg35fbhMM1PUchxu3-U0otlG0BL-Tgryc);
}