@import "../parts/base";

.flex {
  display: flex;
}

header, section {
  padding: 90px 0;
}

header {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/header-notting-hill-faded.png) no-repeat -200px center scroll;
  -webkit-background-size: cover;
  background-size: cover;
  color: $ivory;
  display: flex;
  height: 400px;
  position: relative;
  width: 100%;

  .header-title {
    font-size: 3rem;
  }
  .header-subtitle {
    font-size: 2rem;
  }
}

@media(min-width: 544px) {
  header {
    background-position: right center;
    background-size: cover;
    min-height: 450px;
    .header-title {
      font-size: 4rem;
    }
    .header-subtitle {
      font-size: 3rem;
    }
  }
}

.section-title {
  margin-bottom: 20px;
  > * {
    font-size: 2.5rem;
  }
}

.section-about-wedding {
  min-height: 480px;
}

.section-about-couple {
  background: $blue;
  position: relative;

  .map-bkgd {
    background: url(../img/uk-map.svg) no-repeat 5% 10px, url(../img/da-map.svg) no-repeat 95% 50px;
    background-size: 100px;
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.section-links {
  background: linear-gradient($blue-dark-rgba, $blue-dark-rgba), url(../img/cups-min.png) no-repeat center center scroll;
  background-size: cover;
  min-height: 330px;
}

.section-contact {
  min-height: 350px;
}

.section-final-photo {
  background: linear-gradient($ivory-rgba, $ivory-rgba), url(../img/footer-tree.png) no-repeat center bottom;
  background-size: cover;
  height: 400px;
}

@media(min-width: 544px) {
  .section-final-photo {
    height: 600px;
  }
}