// Variables
$blue: #ADD2ED;
$blue-rgba: rgba(173,210,237,0.5);
$blue-dark: #17476a;
$blue-dark-rgba: rgba(173,210,237,0.8);
$coral: #F69A8F;
$coral-rgba: rgba(246,154,143, 0.3);
$coral-dark: #941a0c;
$ivory: #F3F4EF;
$ivory-rgba: rgba(243,244,239, 0.5);

// General styles
body {
  background-color: $ivory;
  font-family: 'Rokkitt', Arial, sans-serif;
  font-size: 1.2em;
}

// useful flex classes
.flex {
  display: flex;
}
.flex-justify-sa {
  justify-content: space-around;
}
.flex-justify-end {
  justify-content: flex-end;
}

.mw100 {
  max-width:100%;
}