header {
  background-image: linear-gradient(135deg, #454545 0%, #7D7D7D 100%);
  background-attachment: scroll;
  background-position: right center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: $ivory;
  margin-bottom:50px;
  padding-bottom: 50px;
  position: relative;
  width: 100%;

  .header-content {
    align-items: center;
    display: flex;
    height: 400px;
    position: relative;
    width: 100%;
  }

  &.small-header .header-content {
    height:200px;
  }

  .header-title {
    font-size: 3rem;
  }
  .header-subtitle {
    font-size: 2rem;
  }
}

nav {
  border-bottom: 1px #818a91 solid;
}

@media(max-width: 500px) {
  header {
    background-position: 70% center;
  }

  nav .navbar-nav {
    flex-wrap: wrap;
  }

  .nav-item {
    flex:1;
    min-width:25%;
    text-align: center;
  }
}