<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
{% load i18n %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:title" content="Joseph and Louise">
    <meta property="og:description" content="The website for our wedding on June 3rd 2017.">
    <meta property="og:image" content="http://www.joe-and-lou.co.uk/static/dist/img/header-notting-hill-faded.png">
    <meta property="og:url" content="http://www.joe-and-lou.co.uk">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="og:site_name" content="Joseph and Louise">

    <title>{% block title %}Joseph & Louise{% endblock %}</title>

    <link href='https://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "vendor/css/bootstrap-flex.min.css" %}"/>
    <link rel="stylesheet" href="{% static "dist/css/site_styles.css" %}">
</head>

<body>

{% block nav %}
    <header class="b-lazy {% block header-class %}{% endblock %}" data-src="{% static "dist/img/header-1280.png" %}">
        <nav class="navbar navbar-light">
            <ul class="nav navbar-nav flex flex-justify-sa">
                <li class="nav-item {% block nav-home %}{% endblock %}">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% block nav-rsvp %}{% endblock %}">
                    <a class="nav-link" href="/rsvp">RSVP</a>
                </li>
                <li class="nav-item {% block nav-faq %}{% endblock %}">
                    <a class="nav-link" href="/faq">FAQs</a>
                </li>
                <li class="nav-item {% block nav-gifts %}{% endblock %}">
                    <a class="nav-link" href="{% url "weddingapp.views.gifts_view" %}">Gifts</a>
                </li>
                <li class="nav-item {% block nav-hotels %}{% endblock %}">
                    <a class="nav-link" href="{% url "weddingapp.views.hotels_view" %}">Hotels</a>
                </li>
            </ul>
        </nav>

        <div class="header-content">
            <div class="p-a-3 text-xs-left">
                <h1 class="header-title">Joseph & Louise</h1>
                <h2 class="header-subtitle">{% trans "June 3rd 2017" %}</h2>
            </div>
        </div>
    </header>
{% endblock %}

{% block layout %}{% endblock %}

<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-18052288-6', 'auto');
    ga('send', 'pageview');
</script>
<script type="text/javascript" src="{% static "vendor/js/blazy.min.js" %}"></script>
<script type="text/javascript">
    ;(function(){var bLazy = new Blazy();})();
</script>
</body>
</html>