{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static "dist/css/site_styles.css" %}">
{% endblock %}

{% block layout %}

    <div class="container m-b-3">
        <div class="row">

            <nav class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-12 col-xs-12" role="navigation">
                <ul class="nav nav-pills nav-pills-coral nav-stacked">
                    <li class="nav-item">
                        <a class="nav-link p-t-1 p-b-1 {% if page == "practical" %}active{% endif %}"
                           href="{% url 'faq:faq_practical' %}">
                            <h3 class="m-b-0 text-md-center">{% trans "Practical" %}</h3>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-t-1 p-b-1 {% if page == "cultural" %}active{% endif %}"
                           href="{% url 'faq:faq_cultural' %}">
                            <h3 class="m-b-0 text-md-center">{% trans "Cultural" %}</h3>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="hidden-md-up col-xs-12">
                <hr>
            </div>

            <div class="col-lg-8 col-md-9 col-sm-12 faq-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script type="text/javascript">

    </script>

{% endblock %}